* {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}


/* set base-ten scaling for REM */
html {
  color: #69626D;
}

body {
  color: #69626D;
  font-family: 'aileron', sans-serif;
  font-size: 16px;
  font-weight: 400;
}


/* ANIMATION DEFINITIONS */
@keyframes slide-in {
  0% {
    left: -100%;
    opacity: 0;
  }
  50% {
    left: 0;
    opacity: 1;
  }
}

@keyframes slide-in-reverse {
  0% {
    right: -100%;
    opacity: 0;
  }
  50% {
    right: 0;
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    top: -100%;
    opacity: 0;
  }
  50% {
    top: 0;
    opacity: 1;
  }
}


/* CONTAINERS */
.container {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "hero"
    "hero-stripe"
    "project-brainspace"
    "project-gamewizard"
    "project-actioncats"
    "project-illustrations"
    "footer-stripe"
    "footer";
  grid-gap: 2.4rem 0;
  margin: 0 auto;
  width: 100%;
}

.case-study-container {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "case-study-label"
    "case-study-copy"
    "stripe"
    "case-study-image"
    "case-study-page"
    "footer-stripe"
    "footer";
  grid-gap: 2.4rem 0;
  margin: 0 auto;
  width: 100%;
}

.about-container {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "about-portrait"
    "about"
    "stripe"
    "contact-form";
  grid-gap: 2.4rem 0;
  margin: 0 auto;
  width: 100%;
}


/* OTHER ELEMENTS */

hr {
  background-color: #C6BBC4;
  border-width: 0;
  height: 0.2rem;
  margin-bottom: 2rem;
  width: 8rem;
}

.triangle-bullets {
  padding: 1.6rem 1.6rem 1.6rem 2rem;
}

/* triangle bullet points */
.triangle-bullets li:before {
  content: "";
  border-color: transparent #C6BBC4;
  border-style: solid;
  border-width: 0.4rem 0 0.4rem 0.7rem;
  display: block;
  height: 0;
  left: -2rem;
  padding: 0 3rem;
  position: relative;
  top: 0.9rem;
  width: 0;
}


/* FONTS */
p {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 0.6rem;
}

.case-study-section p{
  text-align: center;
}

h1 {
  font-family: 'aileron', sans-serif;
  font-size: 6rem;
  font-weight: 300;
  line-height: 7rem;
  margin: 0;
}

h2 {
  color: #3891A6;
  /*font-family: 'lora', serif;*/
  font-family: "Playfair Display", serif;
  font-size: 6rem;
  font-weight: 900;
  line-height: 7.5rem;
  margin: 0;
}

h2 span{
  color: #69626D;
  font-family: 'aileron', sans-serif;
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2rem;
  margin: 0;
  text-indent: 1.5rem;
}

.case-study-copy h2 {
  font-size: 4.8rem;
  padding-bottom: 3.6rem;
  text-align: center;
}

.case-study-copy p{
  text-align: center;
}

h3 {
  /*font-family: 'lora', serif;*/
  font-family: "Playfair Display", serif;
  font-size: 3.2rem;
  font-weight: 900;
  margin: 0;
}

.projects h3 {
  line-height: 5rem;
}

.case-study-section h3{
  padding-bottom: 2rem;
  text-align: center;
}

footer h3 {
  color:#F6F8F8;
  padding-bottom: 1.6rem;
}

h4 {
  font-family: 'aileron', sans-serif;
  font-size: 3rem;
  font-weight: 300;
  margin: 0;
}

.hero-copy h4{
  padding-bottom: 0.8rem;
}

.case-study-label h4{
  color: #3891A6;
  padding: 3rem 0 3rem 0rem;
  text-align: center;
}

h5 {
  font-family: 'aileron', sans-serif;
  font-size: 1.6rem;
  font-weight: 800;
  margin: 0;
}

h6{
  /*font-family: 'lora', serif;*/
  font-family: "Playfair Display", serif;
  font-size: 2.4rem;
  font-weight: 900;
  margin: 0;
  padding-bottom: 2rem;
  text-align: center;
}

.nav-name a {
  font-size: 1.8rem;
}

.hero p, .about-copy p{
  padding: 1rem 0 0 0;
  text-align: center;
}

.article p {
  line-height: 1.8rem;
}

.case-study-page p {
  padding-top: 1rem;
}

.case-study-highlight p{
  text-align: center;
}

.roles p{
  padding-bottom: 0;
  font-size: 1.4rem;
  line-height: 2rem;
}

p.isolated {
  padding-top: 2.4rem;
}

.user-quotes p {
  font-size: 2.8rem;
  font-weight: 600;
  padding: 2rem;
  text-align: center;
}

.quote {
  font-style: italic;
}

/* LINKS */
a {
  color: #FF951C;
  /*outline: none;*/
  text-decoration: none;
  position: relative;
}

span.page-link a:before, span.page-link a:after {
  content: '';
  border-bottom: solid 2px #FF951C;
  position: absolute;
  bottom: 0;
  width: 0;
}

span.page-link a:before { left: 0; }
span.page-link a:after { right: 0; }

span.page-link a:hover:before, span.page-link a:hover:after {
  width: 50%;
}

span.page-link a:before, span.page-link a:after {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

a:link {
  color: #FF951C;
  text-decoration: none;
}

a:visited {
  color: #aaaaaa;
}

.link-button, .link-button-inactive {
  background-color: #3891A6;
  border: none;
  border-radius: 2.4rem;
  color: #ffffff;
  cursor: pointer;
  font-family: 'PT sans', sans-serif;
  font-size: 1.4rem;
  padding: 1.6rem;
  margin: 4rem auto 1.6rem auto;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 15rem;
}

.link-button-inactive {
  background-color: #69626D;
  cursor: none;
}

.link-button:visited, .link-button:link, .link-button a{
  color: #F6F8F8;
}

.case-study-page .link-button, .case-study-page .link-button-inactive {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

footer a:link {
  color:#F6F8F8;
  font-weight:300;
}

.link-button:hover {
  background-color: #FF951C;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}

.link-button a:hover {
  color: #FFFFFF;
}

/* NAVIGATION */

nav {
  background-color: #FFFFFF;
  grid-row: 1;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  z-index: 3;
}

nav ul {
  background-color: #FFFFFF;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: right;
}

nav li a {
  display: block;
  padding: 2rem 2rem;
  text-decoration: none;
}

nav li a:hover,
nav .menu-btn:hover {
  background-color: #f4f8f8;
}

nav .nav-logo {
  float: left;
  padding: 1rem 2rem;
  text-decoration: none;
}

.nav-name {
  float: left;
  font-size: 1.4em;
  padding: 2rem 0 0 0;
}

/* menu */

nav .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

nav .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 2.8rem 2rem;
  position: relative;
  user-select: none;
}

nav .menu-icon .navicon {
  background: #333;
  display: block;
  height: 0.2rem;
  position: relative;
  transition: background .2s ease-out;
  width: 1.8rem;
}

nav .menu-icon .navicon:before,
nav .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

nav .menu-icon .navicon:before {
  top: 0.5rem;
}

nav .menu-icon .navicon:after {
  top: -0.5rem;
}

/* menu button */

nav .menu-btn {
  display: none;
}

nav .menu-btn:checked ~ .menu {
  max-height: 24rem;
}

nav .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

nav .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

nav .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


/* HERO */
.hero {
  grid-area: hero;
}

.portrait {
  background-color: #F6F8F8;
  padding-top: 3rem;
}
.portrait-lg{
  animation: slide-in 2.2s ease;
  grid-area: hero-portrait-large;
  position: relative;
}

.portrait img{
  display: block;
  margin: 0 auto;
  padding: 7.6rem 0 0 0;
}

.hero-copy {
  background-color: #F6F8F8;
  grid-area: hero-copy;
  padding: 0 3.4rem 4.2rem 3.4rem;
  text-align: center;
}

.hero-copy img {
  padding: 3.2rem 0 1.4rem 0;
  position: relative;
}

.hero-stripe {
  animation: slide-in-reverse 2.2s ease;
  background: #FEC308;
  display: block;
  grid-area: hero-stripe;
  height: 7.4rem;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  padding: 0;
  position: relative;
  width: 100%;
}

header {
  margin-bottom: -4.8rem;
}

/* PROJECTS */
.project-brainspace, .project-gamewizard, .project-actioncats, .project-illustrations {
  text-align: center;
}

.project-image-sm{
  display: none;
}

/* Brainspace/Action Cats Projects */
.project-brainspace {
  grid-area: project-brainspace;
}
.project-actioncats {
  grid-area: project-actioncats;
}

.project-brainspace-copy, .project-actioncats-copy {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 3rem 2rem 3rem;
}

.project-brainspace-lg, .project-actioncats-lg img{
  display: block;
  overflow: hidden;
}

.project-brainspace-lg {
  grid-area: project-brainspace-lg;
}

project-brainspace-gap {
  grid-area: project-brainspace-gap;
}

.project-actioncats-lg {
  grid-area: project-actioncats-lg;
}

project-actioncats-gap {
  grid-area: project-actioncats-gap;
}

.project-brainspace-copy {
  background-image: url(../images/brainspace-mobile.png);
  background-position: center;
  grid-area: project-brainspace-copy;
}

.project-actioncats-copy {
  background-image: url(../images/action-cats-mobile.png);
  background-position: center;
  grid-area: project-actioncats-copy;
}

/* Game App/Illustrations Projects */
.project-gamewizard {
  grid-area: project-gamewizard;
}
.project-illustrations {
  grid-area: project-illustrations;
}

.project-gamewizard-copy, .project-illustrations-copy {
  background-color: #F6F8F8;
  /*display: flex;
  flex-direction: column;*/
  justify-content: center;
  padding: 4rem 3rem 2rem 3rem;
}

.project-gamewizard-lg {
  grid-area: project-gamewizard-lg;
}

project-gamewizard-gap {
  grid-area: project-gamewizard-gap;
}

.project-illustrations-lg {
  grid-area: project-illustrations-lg;
}

project-illustrations-gap {
  grid-area: project-illustrations-gap;
}

.project-gamewizard-lg, .project-illustrations-lg img{
  display: block;
  overflow: hidden;
}

.project-gamewizard-copy {
  background-image: url(../images/gameapp-mobile.png);
  background-position: center;
  grid-area: project-gamewizard-copy;
}

.project-illustrations-copy {
  background-image: url(../images/illustrations-mobile.png);
  background-position: center top;
  grid-area: project-illustrations-copy;
}


/* ABOUT */
.about {
  background-color: #FFFFFF;
  grid-area: about;
}

.about-copy {
  background-color: #F6F8F8;
  padding: 2.4rem 4.4rem;
}

.about-title h3, .about-title p {
  animation: slide-in 2.2s ease;
  position: relative;
  text-align: center;
}

.about-portrait-lg {
  animation: slide-in-reverse 2.2s ease;
  display: none;
  grid-area: about-portrait;
  position: relative;
}

/* CASE STUDY */
.case-study-page {
  grid-area: case-study-page;
}

.case-study-problem, .case-study-conclusion{
  margin-top: 0;
}

.case-study-conclusion .case-study-section {
  margin-bottom: 0;
}

.case-study-page .link-button {
  margin: 2rem 0 0 0;
}

.case-study-section {
  background: #F6F8F8;
  margin-bottom: 2.4rem;
  margin-top: 2.4rem;
  padding: 0 3.6rem 2.6rem 3.6rem;
}

.case-study-sub-section{
  background: #F6F8F8;
  padding-top: 5rem;
}

.case-study-section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 6rem 0 2rem 0;
}

.case-study-problem img{
  padding-top: 2rem;
}

.case-study-problem .case-study-section {
  padding-top: 1.8rem;
}

.stripe {
  animation: slide-in-reverse 2.2s ease;
  border-bottom: 3.2rem solid #FEC308;
  grid-area: stripe;
  position: relative;
  width: 100%;
}

.data1{
  color: #7CE9FF;
  font-weight: 800;
}

.data2{
  color: #FEC308;
  font-weight: 800;
}

.data3{
  color: #FF951C;
  font-weight: 800;
}

.data4{
  color: #FFA8BA;
  font-weight: 800;
}

.case-study-highlight {
  background: #3891A6;
  color: #ffffff;
  margin-bottom: 2.4rem;
  margin-top: 2.4rem;
  padding: 2.4rem 3.6rem 3.6rem 3.6rem;
}

.case-study-stats {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2.6rem;
}

.column img {
  margin: 0 auto;
}

.column {
  display: flex;
  flex: 100%;
  max-width: 100%;
}

.user-quotes {
  border-style: dashed;
  border-width: 0.2rem;
  border-color: #FEC308;
  border-radius: 2rem;
  padding: 0rem 2.8rem 1rem 2.8rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.side-stripe {
  animation: slide-in 2.2s ease;
  background-color: #3891A6;
  display: none;
  grid-area: side-stripe;
  position: relative;
}

.case-study-page .stripe {
  margin-bottom: 2.4rem;
}

.case-study-label {
  background: #F6F8F8;
  grid-area: case-study-label;
  margin-top: 6.4rem;
}

.case-study-copy {
  background: #F6F8F8;
  grid-area: case-study-copy;
  padding: 5rem 3.6rem;
}

.case-study-image {
  grid-area: case-study-image;
}

.case-study-image img{
  width: 100%;
}

#top-image.case-study-image{
  margin-bottom: -2.6rem;
}

.prototype iframe{
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.roles, .personas {
  text-align: center;
}

.solution-image {
  display: none;
}

.personas-section {
  background-color: #FFFFFF;
  border-color: #FEC308;
  border-radius: 2rem;
  border-style: dashed;
  border-width: 0.2rem;
  margin: 0 auto;
  padding: 0 6rem 6rem 6rem;
  width: 80%
}

.personas li {
  font-size: 1.8rem;
  line-height: 3rem;
  padding: 1rem 0;
}

.personas {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

/* FOOTER */
.bottom-stripe {
  border: 0;
  border-bottom: 3.2rem solid #FEC308;
  grid-area: footer-stripe;
  position: relative;
}

footer {
  background-color: #3891A6;
  display: flex;
  flex-direction: column;
  grid-area: footer;
  grid-row: span 3;
  height: 26.8rem;
  justify-content: center;
  text-align: center;
}

.footer-logo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.social-buttons img{
  margin: 2rem 1rem 0 1rem;
}

.fa {
  color: white;
  padding: 1rem;
}

.fa:hover {
  color: #FEC308;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}


/* CONTACT FORM */
.form-box{
  background-color: #3891A6;
  grid-area: contact-form;
  padding: 3.6rem 0;
  text-align: center;
}

.form-box h3 {
  text-align: center;
  color: #FFFFFF;
}

.form-box p{
  color: #F8F6F6;
  font-weight: 200;
  padding: 2rem 6.6rem;
}

form {
  margin: 0 auto;
  padding: 3rem;
  width: 80%;
}

form .field {
  margin-bottom: 1.5rem;
  position: relative;
  width: 100%;
}

form .field label {
  background: #F8F6F6;
  -moz-border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  border-radius: 0.8rem;
  color: #cccccc;
  font-size: 1.6rem;
  left: 0;
  letter-spacing: 0.075rem;
  padding: 2rem 0;
  position: absolute;
  top: 0;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
  width: 100%;
}

form .field label + span {
  color: white;
  display: block;
  font-size: 1.4rem;
  left: 7%;
  opacity: 0;
  position: absolute;
  top: 1.2rem;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}

form .field input[type="text"],
form .field textarea {
  background: #FFFFFF;
  border: none;
  -moz-border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  border-radius: 0.8rem;
  color: #313A3D;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 20px 0;
  padding-left: 19%;
  width: 100%;
}

form .field input[type="text"]#msg,
form .field textarea#msg {
  height: 5.6rem;
  resize: none;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;56
  transition: all 333ms ease-in-out;
}

form .field input[type="text"]:focus, form .field input[type="text"].focused,
form .field textarea:focus,
form .field textarea.focused {
  outline: none;
}

form .field input[type="text"]:focus#msg, form .field input[type="text"].focused#msg,
form .field textarea:focus#msg,
form .field textarea.focused#msg {
  padding-bottom: 15rem;
}

form .field input[type="text"]:focus + label, form .field input[type="text"].focused + label,
form .field textarea:focus + label,
form .field textarea.focused + label {
  background: #FD9638;
  color: #F6F8F8;
  width: 18%;
}

form .field input[type="text"].focused + label,
form .field textarea.focused + label {
  color: #FD9638;
}

form .field:hover label {
  width: 18%;
  background: #313A3D;
  color: white;
}

form input[type="submit"] {
  background: #FEC308;
  -webkit-appearance: none;
  border: none;
  border-radius: 2.4rem;
  color: #3891A6;
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
  padding: 1.3rem 5rem;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}

form input[type="submit"]:hover {
  background: #FF951C;
  color: #FFFFFF;
}

form input[type="submit"]:focus {
  outline: none;
}

form ::placeholder {
    color: #CCCCCC;
}

/*-----------------------MEDIA tablet------------------------*/
@media screen and (min-width: 575px) {
  .container, .case-study-container, .about-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 57.5rem;
  }

  .case-study-section p.roles-paragraph, .case-study-section p:not(li), .case-study-highlight p {
    text-align: center;
  }

  .column {
    flex: 50%;
    max-width: 50%;
  }

  .personas-section {
    width: 100%
  }


  /* NAVIGATION - Media Tablet*/
  .nav-container {
    background-color: #FFFFFF;
    left:50%;
    margin-left:-30rem;
    position:absolute;
    top:0;
  }

  nav {
    width: 60rem;
  }

  nav li {
    float: left;
  }

  nav li a {
    padding: 2.6rem 2rem;
  }

  nav .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  nav .menu-icon {
    display: none;
  }

  nav li a:hover,
  nav .menu-btn:hover {
    background-color: #FFFFFF;
  }

  /* FOOTER - Media Tablet */
  .bottom-stripe {
    margin: 0 auto;
    width: 57.5rem;
  }

  footer {
    margin: 0 auto;
    width: 57.5rem;
  }
}



/*-----------------------MEDIA Laptop/Desktop------------------------*/

@media screen and (min-width: 991px) {
  .container {
    grid-gap: 2.4rem;
    grid-template-areas:
    "hero-portrait-large hero"
    "hero-portrait-large hero-stripe"
    "project-brainspace project-brainspace"
    "project-gamewizard project-gamewizard"
    "project-actioncats project-actioncats"
    "project-illustrations project-illustrations"
    "footer-stripe footer-stripe"
    "footer footer";
    grid-template-columns: 30.6rem 1fr;
    grid-template-rows: auto;
    padding-top: 6.8rem;
    width: 96rem;
  }

  .case-study-container {
    grid-gap: 2.4rem;
    grid-template-areas:
    "side-stripe case-study-label"
    "side-stripe case-study-copy"
    "stripe stripe"
    "case-study-image case-study-image"
    "case-study-page case-study-page"
    "footer-stripe footer-stripe"
    "footer footer";
    grid-template-columns: 14rem 1fr;
    grid-template-rows: auto;
    padding-top: 6.8rem;
    width: 96rem;
  }

  .about-container {
    background-color: #FFFFFF;
    display: grid;
    grid-gap: 2.4rem 2.4rem;
    grid-template-areas:
    "about about-portrait"
    "stripe stripe"
    "contact-form contact-form";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 6rem auto 0 auto;
    overflow: hidden;
    width: 96rem;
  }

  .case-study-section p, .case-study-section p:not(li) {
    text-align: left;
  }

  .case-study-highlight p, .case-study-section p.roles-paragraph {
    text-align: center;
  }

  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  .personas-section {
    width: 100%
  }

  .link-button, .link-button-inactive {
    left: 0;
    transform: translate(0, 0);
  }

  .case-study-label h4{
    padding: 3rem 0 3rem 3.6rem;
    text-align: left;
  }

  .case-study-copy h2, .case-study-copy p {
    text-align: left;
  }

  /* NAVIGATION - Media Desktop */
  .nav-container {
    background-color: #FFFFFF;
    left:50%;
    margin-left:-49rem;
    position:absolute;
    top:0;
  }

  nav {
    width: 98rem;
  }

  nav li a:hover,
  nav .menu-btn:hover {
    background-color: #FFFFFF;
  }


  /* HERO - Media Desktop */
  .portrait img, .portrait{
    display: none;
  }

  .portrait-lg {
    background-color: #ffffff;
    background-image: url(../images/portrait.jpg);
    background-repeat: no-repeat;
	background-size: 34rem;
  }

  .hero-copy {
	padding: 2.2rem 8.4rem 5rem 8.4rem;
    width: auto;
  }

  .hero-stripe {
    background: #FEC308;
    display: block;
    height: 10.4rem;
    padding: 0;
    width: 100%;
  }

  /* PROJECTS - Media Desktop*/
  /* Brainspace/Action Cats Project */
  .project-brainspace, .project-actioncats {
    background: #F6F8F8;
    display: grid;
    grid-gap: 0 2.4rem;
    grid-template-columns: 46rem 1fr 1fr;
    justify-items: left;
    overflow: hidden;
  }

  .project-brainspace {
    grid-template-areas: "project-brainspace-copy project-brainspace-gap project-brainspace-lg";
  }

  .project-actioncats {
    grid-template-areas: "project-actioncats-copy project-actioncats-gap project-actioncats-lg";
  }

  .project-brainspace-copy, .project-actioncats-copy {
    background: #F6F8F8;
    height: 25.6rem;
    padding: 4rem 8.4rem 4.4rem 8.4rem;
    text-align: left;
    width: 63rem;
  }

  /* display a border between project copy and image */
  .project-brainspace-gap, .project-actioncats-gap {
	border-left: 2.4rem solid white;
    display:inline-block;
    height: 100%;
    margin: 0 0 0 10rem;
	overflow: hidden;
	position: relative;
    -webkit-transform: skew(-15deg);
	-moz-transform: skew(-15deg);
	-o-transform: skew(-15deg);
	transform: skew(-15deg);
    width: 41rem;
  }

  .project-brainspace:hover .project-brainspace-lg {
    background-image: url(../images/brainspace-hover.png);
  }

  .project-brainspace:hover .project-brainspace-copy, .project-actioncats:hover .project-actioncats-copy {
    background: #E9EEEE;
  }

  .project-actioncats:hover .project-actioncats-lg {
    background-image: url(../images/action-cats-hover.png);
  }

  .project-brainspace-lg{
    background-image: url(../images/brainspace.png);
  }

  .project-actioncats-lg{
    background-image: url(../images/action-cats.png);
  }

  .project-brainspace:hover .project-brainspace-lg, .project-brainspace:hover .project-brainspace-copy, .project-actioncats:hover .project-actioncats-lg, .project-actioncats:hover .project-actioncats-copy, .project-gamewizard:hover .project-gamewizard-lg, .project-gamewizard:hover .project-gamewizard-copy, .project-gamewizard:hover, .project-illustrations:hover .project-illustrations-lg, .project-illustrations:hover .project-illustrations-copy, .project-illustrations:hover{
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
  }

  /* displays the project image with opposite skew of parent element to straighten */
  .project-brainspace-lg, .project-actioncats-lg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    bottom: 0;
    display: block;
    left: -9rem;
    position: absolute;
    right: -10rem;
    top: 0;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    -o-transform: skew(15deg);
    transform: skew(15deg);
  }

  /* Game App/Illustrations Projects */
  .project-gamewizard, .project-illustrations {
    display: grid;
    grid-template-columns: 46rem 1fr 1fr;
    grid-gap: 0 2.4rem;
	justify-items: right;
	background: #F6F8F8;
  }

  .project-gamewizard {
    grid-template-areas: "project-gamewizard-lg project-brainspace-gap project-gamewizard-copy";
  }

  .project-illustrations {
    grid-template-areas: "project-illustrations-lg project-illustrations-gap project-illustrations-copy";
  }

  .project-gamewizard-copy, .project-illustrations-copy {
    background: #F6F8F8;
    height: 25.6rem;
    padding: 4rem 3.4rem 4.4rem 0;
    text-align: left;
    width: 44.6rem;
  }

  /* display a border between project copy and image */
  .project-gamewizard-gap, .project-illustrations-gap {
    border-right: 2.4rem solid white;
    display:inline-block;
	height: 100%;
    margin: 0 6rem 0 0;
	overflow: hidden;
	position: relative;
    -webkit-transform: skew(-15deg);
	-moz-transform: skew(-15deg);
	-o-transform: skew(-15deg);
	transform: skew(-15deg);
    width: 100%;
  }

  .project-gamewizard:hover .project-gamewizard-lg {
    background-image: url(../images/gameapp-hover.png);
  }

  .project-gamewizard:hover .project-gamewizard-copy, .project-gamewizard:hover, .project-illustrations:hover .project-illustrations-copy, .project-illustrations:hover{
    background: #E9EEEE;
  }

  .project-illustrations:hover .project-illustrations-lg {
    background-image: url(../images/illustrations-hover.png);
  }

  .project-gamewizard-lg {
    background-image: url(../images/gameapp.png);
  }

  .project-illustrations-lg {
    background-image: url(../images/illustrations.png);
  }

  /* displays the project image with opposite skew of parent element to straighten */
  .project-gamewizard-lg, .project-illustrations-lg{
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    display: block;
    left: 6.2rem;
    position: absolute;
    right: -4rem;
    top: 0;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    -o-transform: skew(15deg);
    transform: skew(15deg);
  }

  .link-button, .link-button-inactive {
    margin: 6rem 0 0 0;
  }


  /* CASE STUDY - Media Desktop */
  .case-study-page {
    width: 96rem;
  }

  p.isolated {
    padding-top: 6.4rem;
  }

  .side-stripe {
    display: block;
  }

  .case-study-label, .case-study-copy {
    margin: 0;
  }

  .case-study-section {
    padding: 0 8rem 6rem 8rem;
  }

  .personas-section {
    background-color: #FFFFFF;
    border-color: #FEC308;
    border-radius: 2rem;
    border-style: dashed;
    border-width: 0.2rem;
    padding: 0 6rem 6rem 6rem;
  }

  .roles li {
    display: inline-block;
    vertical-align: top;
    width: 30%;
  }

  .personas li {
    font-size: 1.8rem;
    line-height: 3rem;
    padding: 1rem 0;
  }

  .personas {
    display: inline-block;
    padding: 0 2rem;
    vertical-align: top;
    width: 49%;
  }

  .case-study-problem {
    background: #F6F8F8;
    display: grid;
    grid-gap: 0 2.4rem;
    grid-template-columns: 46rem 1fr 1fr;
    justify-items: left;
    margin-bottom: 2.4rem;
    overflow: hidden;
  }

  .solution-image-gap {
	border-left: 2.4rem solid white;
    display:inline-block;
    height: 100%;
    margin: 0 0 0 5rem;
	overflow: hidden;
	position: relative;
    -webkit-transform: skew(-15deg);
	-moz-transform: skew(-15deg);
	-o-transform: skew(-15deg);
	transform: skew(-15deg);
    width: 60rem;
  }

  .solution-image {
    background-repeat:no-repeat;
    display: block;
    height:100%;
    left: -16rem;
    position: relative;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    -o-transform: skew(15deg);
    transform: skew(15deg);
    width: 80rem;
  }

  #brainspace-solution-image.solution-image {
    background-image: url(../images/brainspace-images/Landing-Page.png);
  }

  #gamewizard-solution-image.solution-image {
    background-image: url(../images/gamewizard-images/Landing-Page.png);
  }

  #action-cats-solution-image.solution-image {
    background-image: url(../images/actioncats-images/ActionCatsPic.jpg);
  }

  .triangle-bullets:not(.visual-design ul) {
    padding-bottom: 6rem;
    padding-left: 1.5rem;
  }


  /* ABOUT - Media Desktop /*
  /* display a border between project copy and image */
  .about {
    background-color: #F6F8F8;
  }

  .about-copy {
    width: 60rem;
    padding: 4rem 8.4rem 8.4rem 8.4rem;
  }

  .about-copy p {
    text-align: left;
  }

  .about-portrait-lg {
    background-color: #3891A6;
    background-image: url(../images/about-portrait.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 34rem;
    display: block;
  }

  .about-title h3 {
    padding-top: 3rem;
  }

  .about-title h3, .about-title p {
    text-align: left;
  }


  /* FOOTER - Media Desktop */
  .bottom-stripe {
    margin: 0 auto;
    width: 96rem;
  }

  footer{
    margin: 0 auto;
    width: 96rem;
  }
}
