* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  margin: 64px auto auto auto;
  max-width: 960px;
  font-family: 'aileron', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #69626D;
}

main {
  max-width: 960px;
}


/* LINKS */
a {
  outline: none;
}

a:link {
  color: #4A4A4A;
  text-decoration: none;
}

a:visited {
  color: #4A4A4A;
}

.link-button {
  background-color: #3891A6;
  border: none;
  border-radius: 24px;
  color: white;
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-family: 'PT sans', sans-serif;
  font-size: 14px;
  margin: 16px 0 0 0;
  cursor: pointer;
  width: 150px;
}

.link-button:hover {
  background-color: #FF951C;
}


/* FONTS */
h1 {
  font-family: 'aileron', sans-serif;
  font-size: 60px;
  font-weight: 200;
  color: #69626D;
  margin: 0;	
  text-indent: 1.3em;
  line-height: 1em;
}

h2 {
  font-family: 'lora', serif;
  font-size: 60px;
  font-weight: 900;
  color: #3891A6;
  margin: 0;
}

h2 span{
  font-family: 'aileron', sans-serif;
  font-size: 60px;
  font-weight: 200;
  color: #69626D;
  margin: 0;	
  text-indent: 1.5em;
  line-height: 1.2em;
}

h3 {
  font-family: 'lora', serif;
  font-size: 32px;
  font-weight: 600;
  color: #69626D;
  margin: 0;
}

.projects h3 {
  line-height: 1.5em;
}

h4 {
  font-family: 'aileron', sans-serif;
  font-size: 30px;
  font-weight: 200;
  color: #69626D;
  margin: 0;
}

.hero p {
  line-height: 1.8em;
  padding: 20px 0 0 0;
}

.projects p {
  line-height: 1.8;
}

footer h3 {
  color:#F6F8F8;
  line-height: 2;
  line-height: 2;
}

footer a:link {
  color:#F6F8F8;
  font-weight:200;
}


/* NAVIGATION */
nav {
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 960px;
  z-index: 4;
  padding: 10px 0 10px 0;
  display: grid;
  grid-template-columns: 30px 1fr 300px;
}

.nav-logo{
  grid-column: 1;
}

.nav-name{
  padding: 12px 0 0 20px;
  grid-column: 2;
}
.nav-links{
  grid-column: 3;
  padding: 12px 0 0 0;
  text-align: right;
}


/* HERO */
.hero {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F6F8F8;
}

.portrait img {
  display: block;
}

.hero-copy img {
  position: relative;
  top: 10px;
  left: -20px;
}

.hero-copy h4 {
  position: relative;
  left: -20px;
}


/* PROJECTS */
article{
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 15px;
}

/* Brainspace/Action Cats Projects */
.project-brainspace-copy, .project-actioncats-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-color: #F6F6F6;
}

.project-brainspace-lg, .project-actioncats-lg img{
  display: block;
  overflow: hidden;
}

/* Bloc Jams/Illustrations Projects */
.project-blocjams-copy, .project-illustrations-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-color: #F6F6F6;
}

.project-blocjams-lg, .project-illustrations-lg img{
  display: block;
  overflow: hidden;
}


/* FOOTER */
#bottom-stripe {
  border: 0;
  width: 100%;
  border-bottom: 32px solid #FEC308;
  position: relative;
  margin: 24px 0 24px 0; 
}

footer {
	background-color: #3891A6;
	height: 268px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.footer-logo img{
  width: 68px;
  height: 68px;
  position: absolute;
  top: 30px;
  left: 47%;
  z-index: 2;
}

.social-buttons img{
  width: 42px;
  height: 42px;
  margin: 20px 10px 0 10px;
}


/*-----------------------MEDIA Desktop------------------------*/

@media(min-width: 991px) {

  html {
    width: 100%;
    overflow-x: hidden;
  }
  
  /* MEDIA HERO */

  .hero {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 24px;
    height: 500px;
    background-repeat: no-repeat;
	background-size: 306px;
	background-position: left;
    background-image: url(../images/portrait.jpg);
	background-color: #ffffff;
  }
    
  .portrait {
    display: none;
  }
  
  .hero-copy {
    grid-column: 2 / 4;
	padding: 22px 84px 50px 84px;
	background: #F6F8F8;
  }
  
  .hero-stripe {
    grid-column: 2 / 4;
    grid-row: 2;
    padding: 0;
    width: 100%;
    height: 100px;
    display: block;
    background: #FEC308;
  }
  
  
  /* MEDIA PROJECTS */
  section .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
  }
  
  /* Brainspace/Action Cats Project */
  .project-brainspace, .project-actioncats {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	justify-items: left;
	background: #F6F8F8;
	border-top: 24px solid white;
	margin-top: 0px;
  }
  
  .project-brainspace-copy, .project-actioncats-copy {
    grid-column: 1;
    padding: 40px 84px 44px 84px;
    height: 256px;
    width: 630px;
    background: #F6F8F8;
  }
  
  /* display a border between project copy and image */
  .project-brainspace-gap, .project-actioncats-gap {
    width: 100%;
	height: 100%;
    margin: 0 0 0 100px;
    display:inline-block;
	-webkit-transform: skew(-15deg);
	-moz-transform: skew(-15deg);
	-o-transform: skew(-15deg);
	transform: skew(-15deg);
	border-left: 24px solid white;
	overflow: hidden;
	position: relative;
  }
  
  .project-brainspace-copy:hover + .project-brainspace-lg {
    background-image: url(../images/brainspace-hover.jpg);
  }

  .project-actioncats-lg:hover {
    background-image: url(../images/action-cats-hover.jpg);
  }
  
  .project-brainspace-lg{
    background-image: url(../images/brainspace.jpg);
  }

  .project-actioncats-lg{
    background-image: url(../images/action-cats.jpg);
  }
  
  /* displays the project image with opposite skew of parent element to straighten */
  .project-brainspace-lg, .project-actioncats-lg{
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    top: 0px;
    left: -90px;
    right: 100px;
    bottom: 0px;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    -o-transform: skew(15deg);
    transform: skew(15deg);
    display: block;
  }
  
   /* Bloc Jams/Illustrations Projects */
  .project-blocjams, .project-illustrations {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	justify-items: right;
	background: #F6F8F8;
	border-top: 24px solid white;
	margin-top: 0px;
  }
  
  .project-blocjams-copy, .project-illustrations-copy {
    grid-column: 3;
    padding: 40px 84px 44px 84px;
    height: 256px;
    width: 546px;
    background: #F6F8F8;
  }
  
  /* display a border between project copy and image */
  .project-blocjams-gap, .project-illustrations-gap {
    width: 100%;
	height: 100%;
    margin: 0 100px 0 0px;
    display:inline-block;
	-webkit-transform: skew(-15deg);
	-moz-transform: skew(-15deg);
	-o-transform: skew(-15deg);
	transform: skew(-15deg);
	border-right: 24px solid white;
	overflow: hidden;
	position: relative;
  }
  
  .project-blocjams-lg:hover {
    background-image: url(../images/bloc-jams-hover.jpg);
  }

  .project-illustrations-lg:hover {
    background-image: url(../images/illustrations-hover.jpg);
  }
  
  .project-blocjams-lg {
    background-image: url(../images/bloc-jams.jpg);
  }

  .project-illustrations-lg {
    background-image: url(../images/illustrations.jpg);
  }
  

  
  /* displays the project image with opposite skew of parent element to straighten */
  .project-blocjams-lg, .project-illustrations-lg{
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    top: 0px;
    left: 100px;
    right: -40px;
    bottom: 0px;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    -o-transform: skew(15deg);
    transform: skew(15deg);
    display: block;
  }
  
  /* hide the image displayed for smaller screens */
  .project-image-sm {
    display: none;
  }
  
  .link-button {
    margin: 60px 0 0 0;
  }
    
  
}